@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --ff-primary: 'Manrope', sans-serif;
  --clr-light-cyan: hsl(193, 38%, 86%);
  --clr-neon-green: hsl(150, 100%, 66%);
  --clr-grayish-blue: hsl(217, 19%, 38%);
  --clr-dark-grayish-blue: hsl(217, 19%, 24%);
  --clr-dark-blue: hsl(218, 23%, 16%);
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--ff-primary);
  background-color: var(--clr-dark-blue);
  color: var(--clr-light-cyan);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.quote-card {
  background-color: var(--clr-dark-grayish-blue);
  width: 90%;
  max-width: 54rem;
  border-radius: 8px;
  margin: 1.5rem;
  padding: 4rem 3rem 6rem;
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.1);
}

.advice-number {
  font-size: 1.2rem;
  color: var(--clr-neon-green);
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.quote {
  font-size: 2.2rem;
  line-height: 1.6;
  height: 18rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}

.divider-image {
  background-image: url('../images/pattern-divider-mobile.svg');
  background-image: no-repeat;
  background-position: center;
  width: 100%;
  height: 1.6rem;
}

.random-btn {
  position: absolute;
  bottom: 0;
  left: 50%;

  transform: translate(-50%, 50%);
  padding: 1.8rem;
  cursor: pointer;
  background-color: var(--clr-neon-green);
  border-radius: 50%;
  border: none;
}

.random-btn:hover,
.random-btn:active {
  box-shadow: 0 0 4rem var(--clr-neon-green);
}

@media (min-width: 40em) {
  .quote-card {
    padding: 4rem 4rem 6rem;
  }

  .quote {
    font-size: 2.8rem;
  }

  .divider-image {
    background-image: url('../images/pattern-divider-desktop.svg');
  }
}
